@media (max-width: 600px) {
 .center {
   
   margin: auto;
    
     
 }
}


.nodecor {
    text-decoration: none;
}

.nodecor:hover {
    color: cornflowerblue !important;
}

.nodecor:visited {
    color:black;
}