@media (max-width: 600px) {
 .center {
   
   margin: auto !important;
    
     
 }
}


.nodecor {
    text-decoration: none !important;
    color: black;
}

.nodecor:hover {
    color: rebeccapurple !important;
}


.right {
    color: black !important;
    border: 1px;
    border-style: solid;
    border-radius: 500px;
    padding: 2px 14px;
}


.right:hover {
    background-color: rebeccapurple !important;
    color: white !important;
    cursor: pointer;
}


.bubble {
    color: black !important;
    border: 1px;
    border-style: solid;
    border-radius: 100%;
    margin: auto;
    display:inline !important; 
    padding:4px 8px;
    font-weight: 600;
}


.bubble:hover {
    background-color: rebeccapurple !important;
    color: white !important;
    cursor: pointer;
}


.nodecor2 {
    text-decoration: none !important;
}

.nodecor2:hover {
    color: white !important;
}

.space {

    padding-top: 2rem;
}