
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap");



*{
    box-sizing: border-box;
}

.nodecor {
    text-decoration: none;
}

.nodecor:visited {
    color:black;
}

//start navbar 
body {
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    color: black;
    padding: 0 20rem;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.logo {
    
    
    position: relative;
    top: 3px;
   
    
}


.navbar-links { 
    ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    li {
        list-style: none;
    }

}

.link {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  
}

.link:hover {
    color: cornflowerblue
}



//toggle burger

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px; 

    .bar {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }
}


@media (max-width: 1180px) {

    .navbar {
        padding: 0 10rem;
    }

}

@media (max-width: 900px) {

    .navbar {
        padding: 0;
    }

}

@media (max-width: 535px) {

    .navbar {
        padding: 0; 
        display: flex;
        flex-direction: column;
        
    }

    .navbar-links { 
        ul {
            margin: 0;
            padding: 0;
            
        }

}

}


.brand-title:hover {
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite; 
    -moz-animation: bounce 2.5s infinite; 
    -o-animation: bounce 2.5s infinite; 
 }


 @-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}