.jumbotron {
    background-color: #f8f9fa;
    padding: 3rem;
    h1 {
        font-size: 4em;
        margin-bottom: 0px;
    }
    h2 {
        font-size:1.5em;
    }
    p {
        line-height: 1em;
    }
}

.nodecor {
    text-decoration: none;
}

@media(max-width: 490px) {

    .jumbotron {

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size:1rem;
    }
    p {
        font-size:0.9rem;
    }
}
}

@media(max-width: 380px) {

    .jumbotron {

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size:0.9rem;
    }
    p {
        font-size:0.8rem;
    }
}
}