.main {

    code {
        background-color: lavenderblush;
    }
    
    li {
        font-weight: bold;
        padding-top: 10px;
    }

    img {
        padding-top:10px;
        padding-bottom: 10px;
    }
}

.date {
    font-weight: bold;
}

@media(max-width:900px) {
    .date {
        text-align: center;
    }
}